window {
    padding: 12px 20px;
    border-radius: 44px;
}

#container {
    margin: 16px;
}

.progressbar.disabled,
.icon.disabled {
    opacity: 0.5;
}

.progressbar {
    background-color: RGBA(127, 127, 127, 1);
    border-radius: 16px;
}

.progress {
    background-color: white;
    border-radius: 16px;
}
